<div class="container">
    <h1 class="text-center text-weight-bold text-capitalize ">Customer name list</h1>
    <button mat-stroked-button color="primary" routerLink="login">Add New</button>
    <div class="form-group mt-2">
        <input type="search" name="" id="form1" class="form-control" placeholder="Search customer name" [(ngModel)]="customerName">
         </div>
         <table class="table">
             <thead>
                 <tr>
                     <th scope="col">Id</th>
                     <th scope="col">Name</th>
                     <th scope="col">Email</th>
                     <th scope="col">Phone</th>
                     <th scope="col">Action</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let customer of CustomerData | search:customerName">
                     <td>{{customer.id}}</td>
                     <td>{{customer.name}}</td>
                     <td>{{customer.email}}</td>
                     <td>{{customer.phone}}</td>
                     <td>
                        <button mat-raised-button color="primary" routerLink="edit/{{customer.id}}">Edit</button>|
                        <button mat-raised-button color="warn"(click)="Delete(customer.id)">Delete</button>
                     </td>
                 </tr>
             </tbody>
         </table>
         <div class="text-center text-capitalize text-weight-bold" *ngIf="(CustomerData|search:customerName)?.length==0">
            <h2>Not found</h2>
          </div> 
          <router-outlet></router-outlet>
</div>
